body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.round-block {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.round-block img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    color: #8d6e63; /* Brown */
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

a {
    text-decoration: none;
    color: #3498db; /* Light Blue */
    font-weight: bold;
}

a:hover {
    color: #2574a9; /* Darker Blue on Hover */
}